:root{
  --preto: #0f0f0f;
  --cinza: #1b1b1b;
  --vermelho: #e11d48;
  --branco: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--preto);
  font-family: Arial, Helvetica, sans-serif;
}

.card{
  width: 350px;
  background: var(--cinza);
  border-radius: 18px;
  padding: 20px;
  text-align: center;
  color: var(--branco);
  box-shadow: 0 0 20px rgba(225, 29, 72, 0.4);
}

.card img{
  width: 100%;
  border-radius: 12px;
  border: 2px solid var(--vermelho);
}

.titulo{
  margin: 18px 0 10px;
  color: var(--vermelho);
}

.descricao{
  font-size: 15px;
  margin-bottom: 20px;
  color: #d1d5db;
}

.botoes{
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn,
.btn2{
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn{
  background: var(--vermelho);
  color: var(--branco);
}

.btn2{
  background: transparent;
  border: 2px solid var(--branco);
  color: var(--branco);
}

.btn:hover,
.btn2:hover{
  opacity: 0.8;
  transform: scale(1.05);
}